/* Global Style */

body {
    background-color: #E8E9EB;
    font-family: 'Glory', sans-serif;
}

h1 {
    color: black;
    font-family: 'Glory', sans-serif;
    font-size: 300%;
    text-align: center;
}

/* General button style */

.button {
    display: block;
    margin: 20px auto;
    width: 140px;
    height: 60px;
    font-size: 100%;
    border-radius: 4px;
    border-color: #4A556B;
    font-family: 'Glory', sans-serif;
}

.button:hover {
    background-color: #4A556B;
    color: white;
    outline: black;
}

#refresh {
    width: 250px;
    height: 100px;
}

/*Message area style */

#message-area {
    font-size: 200%;
    text-align: center;
    margin: 15%;
}

#username {
    clear: both;
    background: transparent;
    color: black;
    width: 40%;
    height: 30px;
    margin: 20px;
    border: 1px solid #4A556B;
    border-radius: 2px;
    font-family: 'Glory', sans-serif;
    font-size: 80%;
}

/* Question area style */

#question-area {
    display: none;
    clear: both;
    width: 90%;
    border-top: 4px groove #4A556B;
    border-bottom: 4px groove #4A556B;
    border-radius: 2px;
    margin: 60px auto;
    height: 50%;
}

#question {
    text-align: center;
    font-family: 'Glory', sans-serif;
    font-size: 200%;
}

/* Answer area style */

#answer-area {
    display: none;
    clear: both;
    width: 98%;
    margin: 40px auto;
    height: 50%;
    font-size: 150%;
}

#answer-area div {
    display: block;
    height: 15%;
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

.answer-button {
    height: 100%;
    width: 100%;
    padding: 2%;
    font-size: 120%;
    font-family: 'Glory', sans-serif;
    border: 4px outset #ABC4F7;
}


@media(hover: hover) {
    .answer-button:hover {
        background-color: #ABC4F7;
    }
}

@media(hover: none) {
    .answer-button:active {
        transform: scale(0.9);
        transition: .1s;
    }
}