/* Global Style */

body {
    background-color: #E8E9EB;
    font-family: 'Glory', sans-serif;
}

h1 {
    color: black;
    font-family: 'Glory', sans-serif;
    font-size: 300%;
    text-align: center;
}

/*Message area style */

.message-area {
    font-size: 200%;
    text-align: center;
    margin: 15%;
}

#username {
    clear: both;
    background: transparent;
    color: black;
    width: 40%;
    height: 30px;
    margin: 20px;
    border: 1px solid #4A556B;
    border-radius: 2px;
}

#submit-button {
    display: block;
    margin: auto;
    height: 45px;
    width: 80px;
    font-family: 'Glory', sans-serif;
    font-size: 100%;
    border-radius: 4px;
}